<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- ================= Permissions ================= -->

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" tools:node="remove" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" tools:node="remove" />


    <!-- ================= Queries ================= -->

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK" />
            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CHOOSER" />
        </intent>
    </queries>

    <!-- ================= Application ================= -->

    <application
        android:name="com.shifter.driver.MyApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.UserApp"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:allowBackup"
        tools:targetApi="31">

        <!-- ========= LAUNCHER ========= -->
        <activity
            android:name="com.shifter.driver.activity.FirstActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ========= MAIN ========= -->
        <activity
            android:name="com.shifter.driver.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />

        <!-- ========= ALL INTERNAL ACTIVITIES ========= -->

        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:exported="false"/>

        <activity
            android:name=".activity.SendOTPActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:exported="false"/>

        <activity
            android:name="com.shifter.driver.activity.ChooseVerificationMethodActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.NewRegistrationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.PaymentActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.AutoPaymentActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.TrainingVideoActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name="com.shifter.driver.activity.UnderReviewActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.VerificationCompleteActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name="com.shifter.driver.activity.HomeActivity"
            android:exported="false"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.ProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.HelpDetailsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.ChatActivityUser"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.MapActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.WalletActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.NotificationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.OrderItleListActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.OrderDetailsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.OrderAnyDetailsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.OrderActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.OrderAnyActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.AccountActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.VehicalActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.OtherinfoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.RiderKitActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.AdditionalInfoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.EngagementQuestionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.EmergencyContactActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.PersonalDocUploadActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.PersonalDocumentActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.VerificationProcessActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.VehicleDetailsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.BankAccountActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.PersonalInfoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.CustomOrderListActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.PremiumPlansActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shifter.driver.activity.PlanDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="order_channel" />

        <!-- ========= FILE PROVIDER ========= -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- ========= SERVICES ========= -->
        <service
            android:name="com.shifter.driver.locationservice.LocationUpdateService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location"
            android:label="@string/app_name" />

        <service
            android:name=".service.OrderOverlayService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="shortService" />

        <service
            android:name="com.shifter.driver.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- ========= RECEIVER ========= -->
        <receiver
            android:name="com.shifter.driver.service.SmsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>